<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace命名空间，和接口绑定-->
<mapper namespace="com.kuang.dao.UserDao">
    <resultMap id="UserMap" type="com.kuang.pojo.User">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="pwd" property="password>"></result>
    </resultMap>

    <!--  查询语句 id为接口中定义的方法, resultType返回类型为实体类 -->
    <select id="getUserList" resultType="User">
        select * from mybatis.user
    </select>

    <!--  通过id查询用户  -->
    <select id="getUserById" parameterType="int" resultType="com.kuang.pojo.User">
        select * from mybatis.user where id = #{id}
    </select>

    <!--  插入用户  -->
    <insert id="addUser" parameterType="com.kuang.pojo.User">
        insert into mybatis.user (id, name, pwd) values (#{id}, #{name}, #{pwd})
    </insert>

    <!--  修改用户  -->
    <update id="updateUser" parameterType="com.kuang.pojo.User">
        update mybatis.user set name=#{name},pwd=#{pwd} where id = #{id}
    </update>

    <!--  删除用户  -->
    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id = #{id}
    </delete>

    <!--  通过Map方法新增用户  -->
    <insert id="addUserByMap" parameterType="map">
        insert into mybatis.user (id, name, pwd) values (#{userId},#{userName},#{password});
    </insert>

    <!--  通过Map来获取指定用户  -->
    <select id="getUserListByMap" parameterType="map" resultType="com.kuang.pojo.User">
        select * from mybatis.user where id=#{userId} and name=#{userName}
    </select>

</mapper>